@model AuthSystem.Models.AboutModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Napewno chcesz usunąć?</h3>
<div class="card">
    <div class="card-header">
        <h3>@Html.DisplayFor(model => model.Title)</h3>
    </div>
    <div class="card-body">
        @Html.DisplayFor(model => model.AboutContent)
    </div>
    <div class="card-footer">
        <form asp-action="Delete">
            <input type="hidden" asp-for="AboutId" />
            <input type="submit" value="Usuń" class="btn btn-danger" />
            <label></label>
            <a class="btn btn-warning" asp-action="IndexAdmin">Wróc do listy</a>
        </form>
    </div>
</div>

